/* GLOBAL */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f3f4f6;
}

/* LAYOUT */
.container {
  display: flex;
  height: 100vh;
  background: #f3f4f6;
}

.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 12px;
  cursor: pointer;
  background: #1f2937;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar li:hover {
  background: #374151;
}

.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

/* FILTER BUTTONS */
.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.filter-buttons button:hover {
  background: #1d4ed8;
}

/* SUMMARY */
.summary {
  margin-top: 25px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  font-size: 16px;
  line-height: 1.6;
}
