/* GLOBAL */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f3f4f6;
}

/* LAYOUT */
.container {
  display: flex;
  height: 100vh;
  background: #f3f4f6;
}

.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 12px;
  cursor: pointer;
  background: #1f2937;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar li:hover {
  background: #374151;
}

.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

/* FILTER BUTTONS */
.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.filter-buttons button:hover {
  background: #1d4ed8;
}

/* SUMMARY */
.summary {
  margin-top: 25px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  font-size: 16px;
  line-height: 1.6;
}

/* Summary container */
.summary {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Each card */
.summary-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  align-items: center;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: antiquewhite;
  cursor: default;
}

/* Hover effect */
.summary-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* Label */
.summary-card h3 {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

/* Value */
.summary-card p {
  font-size: 24px;
  font-weight: bold;
  color: #222;
  margin: 0;
}
button {
  outline: none;
  background-color: rgb(15, 18, 151);
  color: white;
} 
button:focus {
  outline: none;
}

.dropdown { /* .dropdown-wrapper for custom components */
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: antiquewhite;
    font-size: 16px;
    appearance: none; /* Removes default OS styling for a cleaner look */
    cursor: pointer;
    min-width: 180px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05); /* subtle shadow */
}